{% extends 'flatpages/default.html' %}
{% block title %}
Обьявления
{% endblock title %}
{% block content %}
<h1>Все обьявления</h1>

<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>
<ul class="list-group mt-4">
    {% if advs %}
    {% for adv in filter.qs %}
    <a href="{% url 'adv_detail' adv.id %}" class="list-group-item list-group-item-action">
        <b>Заголовок: {{ adv.header }}</b>
        <h5>Текст: {{ adv.text }}</h5>
        <h7>Категория: {{ adv.category }}.</h7>
        <span>Пользователь: {{ adv.user }}</span>
    </a>
</ul>
{% endfor %}
{% else %}
<p>Обьявлений нет</p>
{% endif %}

{% endblock content %}